---
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
import {bosses, elites, monsters} from '../../content/monster-rooms.js'
import {monsterSprites} from '../../utils/sprites.js'
import {Monster} from '../components/player.js'

const tiers = [
	{name: 'Monsters', data: monsters},
	{name: 'Elites', data: elites},
	{name: 'Bosses', data: bosses},
]

const spriteCategories = Object.entries(monsterSprites)

const gameState = {
	player: {
		powers: {vulnerable: 0, weak: 0, strength: 0, poison: 0, regen: 0},
	},
}
---

<script src="../components/img-sprite.js"></script>

<Layout title="Monster sprites">
  <div class="Container">
    <p><a class="Button" href="/">&larr; Menu</a></p>

    <div class="Box">
        <p>A list of all the <em>monster rooms</em> in the game grouped into "Monsters", "Elites" and "Boss". Further down you'll find all available sprites.</p>
    </div>

    <div class="MonsterRooms">

      {tiers.map(tier => {
        const encounters = Object.entries(tier.data)
        return (
        <h2>{tier.name}</h2>
            <div>
              {encounters.map(([encounterName, room]) => (
                <div>
                  <h3>{encounterName}</h3>
                  <div row>
                    {room.monsters.map(monster => (
                      <Monster model={monster} gameState={gameState} client:load />
                    ))}
                  </div>
                </div>
              ))}
            </div>
        )
      })}
    </div>

    <hr>
    <h2>Sprites from 32rogues</h2>
    <div class="sprite-gallery">
      {spriteCategories.map(([category, sprites]) => (
        <section>
          <h3>{category}</h3>
          <div grid>
            {sprites.map((spriteId) => (
              <article>
                <img-sprite sprite={spriteId}></img-sprite>
                <code>{spriteId}</code>
                </article>
            ))}
          </div>
        </section>
      ))}
    </div>
  </div>
</Layout>
