---
import Layout from '../layouts/Layout.astro'
import {getRuns} from '../../game/backend.js'

const runs = (await getRuns()).reverse()
---

<Layout title="Statistics & Highscores">
  <article class="Container">
    <header class="Header">
      <h1 medium>Slay the Web</h1>
      <h2>Highscores & Statistics</h2>
    </header>

    <div class="Box">
      <ul class="Options">
        <li><a class="Button" href="/">Back</a></li>
      </ul>
    </div>

    <div class="Box Box--text Box--full">
      <p>
        A chronological list of Slay the Web runs.<br />
        There is quite a bit of statistics that could be gathered from the runs. For now, this is what we have:
      </p>
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Win?</th>
            <th>Floor</th>
            <th>Health</th>
            <th>Cards</th>
            <th align="right">Time</th>
            <th align="right">Date</th>
          </tr>
        </thead>
        <tbody>
          {
            runs?.length
              ? runs.map((run) => {
                  const state = run.gameState
                  const date = new Intl.DateTimeFormat('en', {
                    dateStyle: 'long',
                    // timeStyle: 'short',
                    hour12: false,
                  }).format(new Date(state.createdAt))
                  const duration = state.endedAt ? (state.endedAt - state.createdAt) / 1000 + 's' : ''
                  return (
                    <tr>
                      <td>{run.player}</td>
                      <td>{state.won ? 'WIN' : 'LOSS'}</td>
                      <td>{state.dungeon.y}</td>
                      <td>{state.player.currentHealth}</td>
                      <td>{run.gameState.deck.length}</td>
                      <td align="right">{duration}</td>
                      <td align="right">{date}</td>
                    </tr>
                  )
                })
              : 'Loading...'
          }
        </tbody>
      </table>
      <p>
        If you want your run removed, <a href="https://matrix.to/#/#slaytheweb:matrix.org">let me know</a>.
      </p>
    </div>
  </article>
</Layout>


<style>
	table {width: 100%;}
</style>
