---
import Layout from '../layouts/Layout.astro'
import {getRuns} from '../../game/backend.js'
import '../styles/typography.css'
import '../styles/index.css'

let {runs, total} = await getRuns()
---

<Layout title="Statistics & Highscores">
	<article class="Container">
		<p><a class="Button" href="/">&larr; Menu</a></p>

		<header class="Header">
			<h1 medium>Statistics & Highscores</h1>
		</header>


		<div class="Box Box--text Box--full">
			<p>
				A chronological list of <strong>{total}</strong> Slay the Web runs to explore.<br />Come <a
					href="https://matrix.to/#/#slaytheweb:matrix.org"
					rel="nofollow">chat on #slaytheweb:matrix.org</a
				>
			</p>
		</div>

		<table>
			<thead>
				<tr>
					<th>Player</th>
					<th>Win?</th>
					<th>Floor</th>
					<th align="right" style="min-width: 5.5em">Time</th>
					<th align="right" style="min-width: 6em">Date</th>
				</tr>
			</thead>
			<tbody>
				{
					runs?.length
						? runs.map((run) => {
								// const state = run.gameState
								const date = new Intl.DateTimeFormat('en', {
									dateStyle: 'medium',
									// month: 'short',
									// timeStyle: 'short',
									hour12: false,
								}).format(new Date(run.createdAt))

								let duration = 0
								if (run.endedAt) {
									const ms = run.endedAt - run.createdAt
									const hours = Math.floor(ms / (1000 * 60 * 60))
									const minutes = Math.floor((ms % (1000 * 60 * 60)) / (1000 * 60))
									const seconds = Math.floor((ms / 1000) % 60)
									duration = `${hours > 0 ? hours + 'h ' : ''}${minutes}m ${seconds}s`
								}

								return (
									<tr>
										<td>
											<a href={`/stats/run?id=` + run.id}>
												{run.id}. {run.player}
											</a>
										</td>
										<td>{run.won ? 'WIN' : 'LOSS'}</td>
										<td>{run.floor}</td>
										<td align="right">{duration}</td>
										<td align="right">{date}</td>
									</tr>
								)
							})
						: 'Loading...'
				}
			</tbody>
		</table>
		<p>
			If you want your run removed, <a href="https://matrix.to/#/#slaytheweb:matrix.org">let me know</a>.
		</p>
	</article>
</Layout>

<style>
	table {
		width: 100%;
		border-spacing: 0;
	}
	tbody {
		font-size: initial
	}
	tbody tr:nth-child(odd) {
		background-color: hsla(0, 0%, 0%, 0.1);
	}
	th,
	td {
		text-align: left;
	}
</style>
